# fenics-components requirements.txt
git+https://bitbucket.org/fenics-project/dijitso.git@dijitso-2016.2.0
git+https://bitbucket.org/fenics-project/ufl.git@ufl-2016.2.0
git+https://bitbucket.org/fenics-project/instant.git@instant-2016.2.0
git+https://bitbucket.org/fenics-project/fiat.git@fiat-2016.2.0
git+https://bitbucket.org/fenics-project/ffc.git@ffc-2016.2.0

